
.mission-text{
	width: 170px;
	position: absolute;
	opacity: 0;
	font-size: 11px;
}
#menu-item-1351:hover .mission-text{
	opacity: 1;
}

@media  screen and (max-width: 1000px){
	.c-menu-toggle__slice{
		color: black;
	}
	.menu{
		color: white;
	}
}
@media  screen and (max-width: 2560px){
	#nk{
		height: 2500px;
	}
}
@media  screen and (max-width: 1600px){
	#nk{
		height: 1450px;
	}
}
@media  screen and (max-width: 1200px){
	#nk{
		height: 1200px;
	}
}
@media  screen and (max-width: 1000px){
	#nk{
		height: 1000px;
	}
}
@media  screen and (max-width: 720px){
	#nk{
		height: 800px;
	}
}
@media  screen and (max-width: 520px){
	#nk{
	height: auto;
	}
	.rut{
		width: 100px;
		height: 50px;
	}
}
@media  screen and (max-width: 552px){
	.rut{
		width: 100px;
		height: 50px;
	}
}
.menu-top{
	padding-top: 95px;
	padding-bottom: 100px;
}
.menubig{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding-top: 0px;
	padding-bottom: 15px;
}
.menuone{
	width: 95%;
	position: relative;
	padding-top: 15px;
}
	
.menumax{
	display: block;
	max-width: 100%;
	height: auto;
}
.c-headline__secondary {
	font-size: 40px;
	
}
#nk{
	width: 100%;
	background: url(../resized/main-1original.jpg) 50%/cover no-repeat;
	background-size: cover;
}
#nd{
	width: 100%;
	background: url(../resized/main-2original.jpg) 50%/cover no-repeat;
	background-size: cover;
}
#otzov-text{
    font-size: 30px;
    padding-top: 25px;
    text-align: center;
}
.otzov-top{
	padding-bottom: 30px;
}
.carousel-indicators .carousel-dots span{
	width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.carousel-indicators .carousel-dots.active span{
	background-color: #ff9c02;
}
#carousel-doc{
	position: absolute;
	bottom: -40px;
}
#carousel-pr{

	padding-top: 440px;
}
.rut{
	width: 100px;
	height: 70px;
}
hr{
	position: relative;
	top: 19px;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}
#content{
	padding-bottom: 70px;
}
